<main class="s-page container-fluid">
    <br><br>
    <div class="row">

        <div class="col s5">
            <b>Logged in as {{user.username}}<span class="member-username"></span></b>
            <br><br>
            <div class="profile-details">
                First Name: {{user.first_name}}<span class="member-firstName"></span>
                <br>
                Last Name: {{user.last_name}}<span class="member-lastName"></span>
                <br><br>
                <br>
                email: {{user.last_name}}<span class="member-email"></span>
                <br><br>
                Subscription: {{user.s-staus}}<span class="member-subscription"></span>
                <br><br>
                <a href="#">Update Settings</a>
                <br>
                <br><br>
                <a href="/logout">Log Out</a>
                <br>
            </div>
        </div>

        <div class="col s5">
            
        </div>

    </div>

    <br><br>
    
</main>